{% extends 'navigationbar.html' %}
{% load static %}

{% block body %}
<style>
  .container-bg {
    background: url("{% static 'images/doctors.jpg' %}") no-repeat center center fixed;
    background-size: cover;
    padding: 50px; /* Adjust as needed */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="container container-bg">
    <h2 class="text-center">add_Doctor</h2>
    <br><br>
    <form method="post" action="">
        {% csrf_token %}
        <label>Doctor name</label>
        <input type="text" class="form-control" name="name" required>
        <label>Contact</label>
        <input type="text" class="form-control" name="contact" required>
        <label>Specialization</label>
        <input type="text" class="form-control" name="special" required>
        <br>
        <input type="submit" value="submit" class="form-control btn btn-primary">
    </form>
</div>

{% if error == "no" %}
    <script>
        alert('record saved successfully');
        window.location = '{% url 'add_doctor' %}';
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert('something went wrong, try again');
        window.location.href = "{% url 'home' %}";
    </script>
{% endif %}

{% endblock %}
