{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}

<style>
  .mydivstyle:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
  }

  .container-bg {
    background: url("{% static 'images/contact.jpeg' %}") no-repeat center center fixed;
    background-size: cover;
    padding: 50px; /* Adjust as needed */
  }
</style>

<div class="container container-bg" style="margin-top: 50px;">
  <h2 class="text-container">Contact Us</h2>
  <br><br>
  <div class="row mt-5 text-center">
    <div class="col-lg-3 col-sm-6 mydivstyle">
      <h4> <i class="fas fa-phone-square"></i>Contact</h4>
      <p class="mt-3 font-weight-bold"> <a class="text-danger" href="tel:+91 9014887520"> +91 9014887520 </a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
      <h4> <i class="fas fa-envelope"></i>Send Email</h4>
      <p class="mt-3 font-weight-bold"> <a class="text-danger" href="mailto:arigelavizayssai@gmail.com"> arigelavizayssai@gmail.com</a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
      <h4> <i class="fas fa-address-card"></i>Office Address</h4>
      <p class="mt-3 font-weight-bold"> <a class="text-danger" href="http://maps.google.com/maps?q=vijaywada+benz circle"> vijaywada, near benz circle </a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
      <h4> <i class="fas fa-address-card"></i>Office Hours</h4>
      <p class="mt-3 font-weight-bold text-danger"> 9:00 AM to 7:00 PM</p>
    </div>
  </div>
</div>

{% endblock %}
