<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Online Health and Nutrition Consultation System</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

    <!--datatable cdn start-->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.print.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.0/css/buttons.dataTables.css">
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
    <!--datatable cdn end-->
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Online Health and Nutrition Consultation System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mymenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mymenu">
                <ul class="navbar-nav ml-auto">
                    {% if not request.user.is_staff %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i
                                    class="fas fa-home"></i> HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}"><i
                                    class="far fa-address-card"></i> ABOUT</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"><i
                                    class="far fa-envelope"></i> CONTACT</a></li>
                    {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="doctorDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Doctor
                            </a>
                            <br><br>
                            <div class="dropdown-menu" aria-labelledby="doctorDropdown">
                                <a class="dropdown-item" href="{% url 'add_doctor' %}">Add_Doctor</a>
                                <a class="dropdown-item" href="{% url 'View_Doctor' %}">View_Doctor</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="patientDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Patient
                            </a>
                            <div class="dropdown-menu" aria-labelledby="patientDropdown">
                                <a class="dropdown-item" href="{% url 'add_patient' %}">Add_Patient</a>
                                <a class="dropdown-item" href="{% url 'View_patient' %}">View_Patient</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="appointmentDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Appointment
                            </a>
                            <div class="dropdown-menu" aria-labelledby="appointmentDropdown">
                                <a class="dropdown-item" href="{% url 'add_appointment' %}">Add_Appointment</a>
                                <a class="dropdown-item" href="{% url 'View_appointment' %}">View_Appointment</a>
                            </div>
                        </li>



                    <!-- Add other navigation links as needed -->



                    {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block body %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
